@import '/src/scss/index.scss';

@media (max-width: 1350px) {
    .contact {
        .address { 
            .address-block {
                grid-template-columns: repeat(2, minmax(392px, 100px));
                grid-template-rows: repeat(3, 290px);
                grid-template-areas: 
                'a a'
                'a a'
                'b c';
            }
        }
    }
}

@media (max-width: 900px) {
    .contact {
        .address { 
            .address-block {
                grid-template-columns: repeat(1, minmax(100px, 600px));
                grid-template-rows: repeat(3, 290px);
                grid-template-areas: 
                'a'
                'b'
                'c';

            }
        }
    }
}

 