@import '/src/scss/index.scss';

.about {
    color: $color-2;
    h1 {
        margin: 60px 0 60px;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
}