@import '/src/scss/index.scss';

@media (max-width: 1080px) {
    .post {
        h1 {
            font-size: 25px;
        }
        .post-block {
            display: flex;
            justify-content: center;
            align-items: center;
            .post-content {
                width: 100%;
            }
            .post-img {
                img {
                    width: 100%;
                }
            }
        }
    }
}