@import '/src/scss/index.scss';

@media (max-width: 1350px) {
 .main {
        .main-session {
            .main-session__imgs {
                justify-content: center;
                grid-template-columns: repeat(2, minmax(416px, 100px));
                grid-template-rows: repeat(3, 258px);
                grid-template-areas: 
                'a b'
                'a d'
                'c i';
                .session__img {
                    .main-session__img-text {

                    }
                }
                
            }
        }
        .address { 
            .address-block {
                grid-template-columns: repeat(2, minmax(392px, 100px));
                grid-template-rows: repeat(3, 290px);
                grid-template-areas: 
                'a a'
                'a a'
                'b c';
            }
        }
    }
}

@media (max-width: 900px) {
    .main {
        span {
            display: none;
        }
        .main-img {
            margin-top: 100px;
            background-size: auto;
            border-radius: 3px;
            .main-img__title {
                &:before, &::after {
                    display: none;
                }
            }
        }
        .main-session {
            .main-session__imgs {
                justify-content: center;
                grid-template-columns: repeat(1, minmax(100px, 416px));
                grid-template-rows: repeat(5, 258px);
                grid-template-areas: 
                'a'
                'b'
                'c'
                'd'
                'i';

                .session__img {
                    .main-session__img-text {

                    }
                }
                
            }
        }

        .address { 
            .address-block {
                grid-template-columns: repeat(1, minmax(100px, 600px));
                grid-template-rows: repeat(3, 290px);
                grid-template-areas: 
                'a'
                'b'
                'c';

            }
        }
        
    }
}

@media (max-width: 650px) {
    .main {
        .reviews .slider .card-text {
            font-size: 12px;
            padding: 0 20px;
            line-height: 110%;
        }

        .about {
            .about-block {
                .about-block__img {
                    img {
                        width: 100%;
                    }
                }
                .about-massage {
                    .about-massage__text {
                        width: 100%
                    } 
                }
            }
        }
        .price .price-block {
            .price-list__img {
              img {

                  width: 100%;
              }
            
        }
            .price-list{
    
                .price-list__info{
                    gap: 0;
                    &:before {
                        display: none;
                    }
                }
    
            } 
        } 
    }
}

 