@import '/src/scss/index.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.main {

    color: $color-2;
    .main-img {
        background-image: url('./../../scss/img/main-img/ritmStyle.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        object-fit: cover;
        width: 1296px;
        height: 600px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .main-img__title {
            font-family: 'El Messiri';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;

            &::before {
                content: '';
                position: absolute; 
                display: block;
                border-radius: 0px 50px;
                width: 28px;
                height: 14px;
                margin-left: -66px;
                margin-top: 10px;
                background-color: white;
            };
            &::after {
                content: '';
                position: absolute; 
                border-radius: 0px 50px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 28px;
                height: 14px;
                margin-left: 46px;
                margin-top: 10px;
                background-color: white;
            }
        }

        .main-img__text {
            font-family: 'El Messiri';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 140%;
            width: 587px;
            text-align: center;
            margin-top: 40px;
        }

    }

    .main-session {
        .main-session__imgs {
            display: grid;
            grid-template-columns: repeat(3, minmax(416px, 100px));
            grid-template-rows: repeat(2, 258px);
            gap: 25px;
            grid-template-areas: 
            'a b c'
            'a d i';
            .main-session__img-1 {grid-area: a;}
            .main-session__img-2 {grid-area: b;}
            .main-session__img-3 {grid-area: c;}
            .main-session__img-4 {grid-area: d;}
            .main-session__img-5 {grid-area: i;}
            .session__img {
                background-image: url('../../scss/img/main-img/swimming-girl.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                object-fit: cover;
                display: flex;
                align-items:flex-start;
                justify-content: end;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                .main-session__img-text {
                    font-family: 'El Messiri';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 140%;
                    width: 336px;
                    margin: 50px
                }
            }
            
        }
    }

    .reviews {
        position: absolute;
        left: 0;
        width: 100%;
        .slider {
            .slick-slider .slick-dots{
                top: 400px;
                .slick-active {
                    background-color: white;
                    border-radius: 3px;
                }
            }
           
            .card-active {
                @extend %card-default;
                opacity: 1;
                transform: scale(1);
            }
            .card {
                
                border-radius: 10px;
                background-color: $rectangle;
                color: white;
                width: 636px;
                height: 350px;
                transform: scale(.7);
                opacity: .5;
            }
            .card-title {
                padding: 50px 60px 20px;
                font-family: 'Proxima Nova';
                font-style: normal;     
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
            }
            .card-text {
                padding: 0 60px 0;
                text-align: left;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 140%;
            }
        }
    }

    .about {
      padding-top: 700px;

        .about-massage {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 84px;
            &:first-of-type {
                padding-bottom: 100px;
            }
            .about-massage__info {
                .about-massage__title {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 700; //add 700
                    font-size: 24px;
                    line-height: 140%;
                    padding-bottom: 30px;
                }
                .about-massage__text {
                    width: 466px;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 300; // add 300
                    font-size: 16px;
                    line-height: 140%;
                }
            }
        }
    }
    
    .price {
        .price-block {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 134px;
            .price-list {
                .price-list__info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;                
                    padding: 30px;
                    gap: 100px;

                &:before {
                    content: '';
                    position: absolute; 
                    border-radius: 0px 50px;
                    margin: 20px 0px 20px -40px;
                    width: 18px;
                    height: 9px;
                    background-color: $rectangle;
                }
                    .price-list__info-title {
                        width: 268px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400; // add
                        font-size: 18px;
                        line-height: 140%;
                    }
                    .price-list__info-text {
                        font-family: 'El Messiri';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 140%;
                    }
                }
            }
        }
    }

    .address {
        margin-top: 200px;
        .address-block {
            display: grid;
            grid-template-columns: repeat(3, minmax(392px, 100px));
            grid-template-rows: repeat(2, 290px);
            gap: 24px;
            grid-template-areas: 
            'a a b'
            'a a c';
            .address-block__map{
                grid-area: a;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .first-address{grid-area: b;}
            .second-address{grid-area: c;}
            .address-position {
                padding: 35px 45px;
                background-color:$color-1;
                border-radius: 10px;
                .address-title {
                    font-family: 'El Messiri';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 140%;
                }
                .address-info {
                    img {
                        margin-right: 20px;
                    }
                    .address-info__block{
                        display: flex;
                        align-items: center;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400; //add
                        font-size: 14px;
                        line-height: 135%;
                        padding: 10px 0;
                        widtH: 262px;
                    }
                }
                button {
                    margin-top: 29px;
                    background-color: $color-2;
                    color: $color-1;
                }
            }
        }
    }

}