@import './index.scss';

.app {
    background-color: $bg;
    display: flex;
    .wrapper {
        display: block;
        margin: 30px auto;
        width: 1336px;
        padding: 0 20px;
        
        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .menu-links {
                .link {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 135%;
                    color: $color-2;
                    padding: 0 20px;
                }
            }
        }
        .footer {
            .line {
                display: block;
                position: relative;
                top: 70px;
                height: 1px;
                width: 100%;
                background-color: $color-2;
                opacity: 0.5
            }
            .footer-content {
                display: flex;
                justify-content: space-between;
                align-content: center;
                margin-top: 100px;
                color: $color-2;
            }
        }
    }
}