@import './index.scss';

.app {
    overflow: hidden;
    background-color: $bg;
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 93.7vh;
        margin: 30px auto;
        width: 1336px;
        padding: 0 20px;
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            .menu-links {
                .link {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 135%;
                    color: $color-2;
                    padding: 0 20px;
                }
            }
        }
        .footer {
            margin-top: auto;
            .footer-content {
                display: flex;
                justify-content: space-between;
                align-content: center;
                padding-top: 88px;
                color: $color-2;
            }
        }
    }
    .line {
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background-color: $color-2;
        opacity: 0.5;
        top: 20px
    }
}